<mat-toolbar color="primary">
  <h1>Blackjack</h1>
</mat-toolbar>
<div class="gradientbg">
  <div id="text-area"></div>
  <br/><br/>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile id="dealer-place"></mat-grid-tile>
    <br/>
    <mat-grid-tile id="player-place"></mat-grid-tile>
  </mat-grid-list>
  <br/><br/>
  <button mat-raised-button color="primary" class="btn" id="new-game-btn">
    New Game
  </button>
  <button mat-raised-button color="primary" class="btn" id="hit-btn">
    Hit!
  </button>
  <button mat-raised-button color="primary" class="btn" id="stay-btn">
    Stay
  </button>
</div>
